.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.title {
  padding-bottom: 2%;
  font-size: 42px;
  letter-spacing: 2vw;
  font-family: 'Caveat';
  text-shadow: 3px 3px 3px var(--shadow-color);
  cursor: default;
}

.form {
  padding-bottom: 2%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2px;
}

.input {
  width: 35vw;
  height: 6vh;
  font-size: 26px;
  background-color: var(--page-bg-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  margin-bottom: 4%;
}

.input:hover {
  border: 1px solid var(--accent-color);
}

.input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.error {
  font-size: 14px;
  color: var(--accent-color);
  font-weight: 100;
  margin: 0 0 2% 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.5vw;
  height: 6vh;
  font-size: 24px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  background-color: transparent;
  letter-spacing: 5px;
  margin-bottom: 0.5%;
  text-decoration: none;
}

.button:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: 5000s ease-in-out 0s;
    color: var(--text-color);
}