.controler {
  padding: 1%;
  block-size: 13%;
  inline-size: 98%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 9;
}

.open {
  display: flex;
}

.current {
  display: flex;
  gap: 6%;
  align-items: center;
  position: absolute;
  left: 1%;
  bottom: 14%;
  z-index: 9;
}

.image {
  inline-size: 6vw;
  block-size: 6vw;
  object-fit: fill;
  object-position: center;
  border-radius: 5%;
}

.info {
  max-width: 20vw;
  block-size: 6vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-wrap: nowrap;
  position: relative;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-color-on-over);
  font-size: clamp(1rem, 0.868rem + 0.563vw, 1.375rem);
  max-width: 300px;
}

.executor {
  position: absolute;
  bottom: 0;
  font-size: clamp(0.75rem, 0.618rem + 0.563vw, 1.125rem);
  font-weight: 300;
  color: var(--muted-color);
  text-decoration: none;
  transition: color ease 0.5s;
}

.executor:hover {
  color: var(--accent-color);
  transition: color ease 0.5s;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  position: absolute;
  top: 25%;
  width: 99%;
}

.controler__play-button {
  border-radius: 50%;
  background-color: var(--accent-color);
  inline-size: 44px;
  block-size: 44px;
}

.volume_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  position: absolute;
  right: 2%;
  bottom: 40%;
  z-index: 9;
}

.volume_range{
  inline-size: 100px;
  block-size: 5px;
  background-color: var(--muted-color);
  position: relative;
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  block-size: inherit;
  background-color: var(--accent-color);
}

.input {
  position: absolute;
  top: -2.5px;
  left: 0;
  block-size: 10px;
  inline-size: inherit;
  z-index: 10;
}

.controler_range {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
  color: var(--muted-color);
  font-size: 16px;
  position: absolute;
  bottom: 10%;
  width: 99%;
}

.progress {
  width: 35%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--text-color);
  position: relative;
}

.full_range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: inherit;
  border-radius: 5px;
  background-color: var(--accent-color);
}

.range_input {
  position: absolute;
  top: -2.5px;
  left: 0;
  block-size: 16px;
  inline-size: 100%;
  z-index: 10;
}

.circle {
  border-radius: 50%;
  background-color: var(--shadow-color);
  inline-size: 38px;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
}

.svg {
  width: 32px;
  height: 32px;
  fill: var(--text-color);
  transition: ease 0.5s;
}

.prevButton {
  transform: rotate(180deg);
}

.svg:hover {
  fill: var(--shadow-color);
  transition: ease 0.5s;
}

.active {
  fill: var(--accent-color);
  transition: ease 0.5s;
}

@media (width < 768px) {
  .controler {
    block-size: 8%;
  }

  .image {
    inline-size: 6vh;
    block-size: 6vh;
  }

  .info {
    width: 14vw;
    block-size: 3vh;
    gap: 2px;
  }
  
  .title {
    font-size: 11px;
    font-weight: 600;
  }
  
  .executor {
    font-size: 10px;
  }

  .current .like-svg {
    inline-size: 20px;
    block-size: 20px;
  }

  .menu {
    gap: 8px;
    top: 10%;
  }

  .play-button {
    inline-size: 32px;
    block-size: 32px;
  }

  .menu .shuffle-svg, .prev-svg, .play-svg, .next-svg, .repeat-svg {
    inline-size: 18px;
    block-size: 18px;
  }

  .volume .volume-svg {
    inline-size: 26px;
    block-size: 26px;
  }

  .volume_range {
    inline-size: 75px;
  }

  .controler__range {
    font-size: 12px;
  }

  .progress {
    height: 8px;
  }
} 