.block {
  display: flex;
  padding: 0.5% 1.2%;
  inline-size: 40%;
  justify-content: space-around;
  align-items: center;
  border-left: none;
  background-color: var(--page-bg-color);
  color: var(--text-color);
  position: sticky;
  left: 0;
  bottom: 10%;
}

.text {
  font-family: "Caveat";
  font-size: 42px;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.button {
  font-size: 24px;
  color: var(--text-color);
  padding: 1%;
  inline-size: 30%;
  border: 1px solid var(--text-color);
  background-color: transparent;
  transition: border ease 0.5s;
}

.button:hover {
  cursor: pointer;
  text-shadow: 1px 1px 0 var(--shadow-color);
  border: 1px solid var(--accent-color);
  transition: all ease 0.5s;
}
