.info {
  display: flex;
  flex-direction: column;
}

.name {
  margin-block-end: 2%;
  font-size: 22px;
  font-weight: 300;
}

.email {
  margin-block-end: 6%;
  font-size: 16px;
  font-weight: 100;
  color: var(--muted-color);
}

.button {
  border: 1px solid;
  background-color: inherit;
  color: var(--text-color);
  inline-size: 100%;
  block-size: 30px;
  font-size: 14px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.button:hover {
  text-shadow: 1px 1px 0 var(--shadow-color);
  border: 1px solid var(--accent-color);
  transition: all ease 0.5s;
}