.play_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
}

.play_svg {
  width: 28px;
  height: 28px;
  color: var(--text-color);
  fill: var(--text-color);
  transition: ease 0.5s;
}

.play_svg:hover {
  fill: var(--shadow-color);
  color: var(--shadow-color);
  transition: ease 0.5s;
}

.active {
  fill: var(--accent-color);
  color: var(--accent-color);
  transition: ease 0.5s;
}
